#start-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #000;
  background-image: url('../images/MenuScreen.png');
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 999;
  transition: opacity 0.5s ease; 
  
}

.hidden {
  display: none !important;
}

#scene-image{
  position: absolute;
  top: 0; 
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: -1;
}

#scene-text{
  position: relative;
  background-color: rgba(53, 52, 52, 0.67);
  color: #f2f2f2;
  font-size: 1.3rem;
  line-height: 1.5;
  padding: 30px 36px;
  border-radius: 10px;
  max-width: 650px;
  margin: 0 auto;
  text-align: center;
  
}

#choices-container{
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 20px;
  max-width: 450px;
  margin-left: auto;
  margin-right: auto;

}

#choices-container button {
  font-size: 1rem;
  color: #f2f2f2;
  background-color: rgba(60, 60, 60, 0.9);
  border: 1px solid rgba(0, 0, 0, 0.001);
  padding: 12px 18px;
  border-radius: 8px;
  cursor: pointer;
}

#choices-container button:hover {
  background-color: rgba(14, 42, 27, 0.5);
}

#game-container{
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
  height: 100vh;
  gap: 10px;
}

